---
import Layout from "../../layout/index.astro";
import Card from "../../components/game_list/card.astro";

import { games as cards } from "../../config/index";
---

<Layout>
  <div class="d-flex gap-3 justify-content-evenly mt-5 flex-wrap">
    {cards.map((card) => <Card {...card} />)}
  </div>
</Layout>
