---
import Layout from "../layout/index.astro";
import Card from "../components/game_list/card.astro";
---

<Layout>
  <div class="d-flex gap-3 justify-content-evenly mt-5 flex-wrap">
    <Card title="Animais Brasileiros" difficulty="Fácil" />
    <Card title="Mamíferos" difficulty="Médio" />
    <Card title="Animais Aquáticos" difficulty="Difícil" />
    <Card title="Aves" difficulty="Difícil" />
    <Card title="Répteis" difficulty="Médio" />
    <Card title="Anfíbios" difficulty="Médio" />
    <Card title="Invertebrados" difficulty="Difícil" />
    <Card title="Animais de Estimação" difficulty="Fácil" />
    <Card title="Animais Selvagens" difficulty="Difícil" />
    <Card title="Animais Noturnos" difficulty="Médio" />
    <Card title="Insetos" difficulty="Fácil" />
  </div>
</Layout>
