---
import Layout from "../layout/index.astro";
import { users } from "../config/index.ts";

const sortedUsers = users.sort((a, b) => {
  if (a.points > b.points) {
    return -1;
  }
  if (a.points < b.points) {
    return 1;
  }
  if (a.time_record < b.time_record) {
    return -1;
  }
  if (a.time_record > b.time_record) {
    return 1;
  }
  return 0;
});
---

<Layout>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Posição</th>
        <th scope="col">Nome</th>
        <th scope="col">Pontos</th>
        <th scope="col">Recorde de tempo</th>
      </tr>
    </thead>
    <tbody>
      {
        sortedUsers.map((user, index) => (
          <tr>
            <th scope="row">{index + 1}</th>
            <td>{user.name}</td>
            <td>{user.points}</td>
            <td>{user.time_record}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</Layout>
