---
import Layout from "../layout/index.astro";
---

<Layout>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Posição</th>
        <th scope="col">Nome</th>
        <th scope="col">Pontos</th>
        <th scope="col">Recorde de tempo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>43</td>
        <td>00:45</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>35</td>
        <td>00:57</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>23</td>
        <td>01:26</td>
      </tr>
    </tbody>
  </table>
</Layout>
