---
import "../styles/global.css";
const currentPath = Astro.url.pathname;
import { Image } from "astro:assets";
import Logo from '../assets/img/logo.svg'
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Lembre-se de mim</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand text-wrap" href="/">
          <Image class="img-fluid" src={Logo} alt="logomarca - imagem vetorizada de um panda de frente" height={50} width={50}/>
          Lembre-se de mim - Jogo da memória
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class={`nav-link ${currentPath.includes("jogos") && "active"}`}
                aria-current="page"
                href="/jogos">Jogar</a
              >
            </li>
            <li class="nav-item">
              <a
                class={`nav-link ${currentPath.includes("lista") && "active"}`}
                href="/lista">Animais</a
              >
            </li>
            <li class="nav-item">
              <a
                class={`nav-link ${
                  currentPath.includes("ranking") && "active"
                }`}
                href="/ranking">Ranking</a
              >
            </li>
            <li class="nav-item">
              <a
                class={`nav-link ${currentPath.includes("sobre") && "active"}`}
                href="/sobre">Sobre</a
              >
            </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0 justify-content-end">
            <li class="dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Usuário
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/admin">Admin</a></li>

                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="/login">Login</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="container">
      <slot />
    </main>
    <footer class="fixed-bottom text-center bg-light">
      Trabalho de programação para internet feito por: Guilherme Castilho e
      Lucas Souza
    </footer>
    <script src="/js/bootstrap.bundle.min.js" is:inline></script>
  </body>
</html>
